*{
    font-family: "Microsoft yaHei";
}
body{
    visibility:hidden;
}
html{
    font-size:38px;
}
ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer{
    height: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #1A1B25;
    width: 100%;
    border-top:1px solid #343746;
}
footer li{
    width: 100%;
    line-height: 1.7rem;
}
footer li a{
    color: #5F6068;
    font-size: .38rem;
}
footer li.active a{
    color: #0D77DF;
}
footer li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/home.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
    text-align: center;
}
footer li a:hover{
    text-decoration: none;
}
footer li:nth-child(1).active a{
    background: url(../images/home_2.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(2) a{
    background: url(../images/icon_33.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(2).active a{
    background: url(../images/icon_23.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(3) a{
    background: url(../images/cang.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(3).active a{
    background: url(../images/cang_2.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(4) a{
    background: url(../images/user.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
footer li:nth-child(4).active a{
    background: url(../images/user_2.png) no-repeat center 0rem;
    background-size: .5rem .5rem;
}
.flex-none{
    -moz-box-flex: none; /*Firefox*/
    -webkit-box-flex: none; /*Safari,Opera,Chrome*/
    

    -webkit-box-flex: none;
  -webkit-flex: none;
      -ms-flex: none;
          flex:none;
}
.flex-nowrap{
    display:flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Chrome */ 
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.section .title{
    height: .7rem;
    line-height: .7rem;
    background: #161823;
    font-size: .36rem;
    color: #fff;
    padding: 0 .3rem;
    margin-bottom: .04rem;
    position: relative;
}
.section .title a{
    font-size: .36rem;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.section .title:after{
    content:">";
    float: right;
    margin-right: .2rem;
    position: absolute;
    right: .2rem;
    top: .0rem;
}
.section{
    margin-bottom: .38rem;
}
.clear-fl:after{
    content: "";
    display: block;
    clear: both;
}