*{
    font-family: "Microsoft yaHei";
}
body{
    visibility:hidden;
}
html{
    font-size:38px;
}
ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer{
    height: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f6f6f6;
    width: 100%;
    border-top: 1px solid #ddd;
}
.flex-nowrap li p:nth-child(1) {
    font-size: .38rem;
    color: #999;
}
.flex-nowrap li.active p:nth-child(1) {
    font-size: .38rem;
    color: #e60213;
}
footer li.active a {
    color: #e60213!important;
}
footer li {
    width: 100%;
    line-height: 2.12rem;
}
.flex-nowrap li {
    padding: .05rem;
}
footer li a{
    color: #5F6068;
    font-size: .38rem;
}
footer li.active a{
    color: #0D77DF;
}
footer li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/home1.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
    text-align: center;
}
footer li a:hover{
    text-decoration: none;
}
footer li:nth-child(1).active a{
    background: url(../images/home2.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(2) a{
    background: url(../images/share1.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(2).active a{
    background: url(../images/share2.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(3) a{
    background: url(../images/mine1.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(3).active a{
    background: url(../images/mine2.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(4) a{
    background: url(../images/user.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
footer li:nth-child(4).active a{
    background: url(../images/user_2.png) no-repeat center 0rem;
    background-size: .7rem .7rem;
}
.flex-none{
    -moz-box-flex: none; /*Firefox*/
    -webkit-box-flex: none; /*Safari,Opera,Chrome*/
    

    -webkit-box-flex: none;
  -webkit-flex: none;
      -ms-flex: none;
          flex:none;
}
.flex-nowrap{
    display:flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Chrome */ 
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.section .title{
    height: .7rem;
    line-height: .7rem;
    background: #161823;
    font-size: .36rem;
    color: #fff;
    padding: 0 .3rem;
    margin-bottom: .04rem;
    position: relative;
}
.section .title a{
    font-size: .36rem;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.section .title:after{
    content:">";
    float: right;
    margin-right: .2rem;
    position: absolute;
    right: .2rem;
    top: .0rem;
}
.section{
    margin-bottom: .38rem;
}
.clear-fl:after{
    content: "";
    display: block;
    clear: both;
}




  .header {
    padding: 0px 5px;
    text-align: center;
    position: relative;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #ddd;
    background-color: #fff;;
}
.header a {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 5px;
    color: #666;
}
.back_arrow{
    position: relative;
}
.back_arrow:after,.back_arrow:before{
    content: "";
    position: absolute;
    width: 12px;
    border-top: 2px solid #666;
    transform-origin: left;
    -webkit-transform-origin: left;
    top: 20px;
    left: 10px;
}
.back_arrow:after{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.back_arrow:before{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}






